<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
	<div th:fragment="navbar-search-panel">
		<nav class="navbar navbar-light bg-light">
			<div class="container">
				<a class="navbar-brand p-0 me-2" href="#">Better Reads</a>
				<form class="d-flex" action="search.html" th:attr="action=@{/search}">
					<input class="form-control me-2" name="query" type="text" placeholder="Search for a title"
						aria-label="Search query">
					<button class="btn btn-outline-success" type="submit">Search</button>
				</form>
			</div>
		</nav>
	</div>
</body>

</html>